{% extends "layouts.html" %}

{% block body %}
    <h2>{{ 'Edit User' if user else 'Add User' }}</h2>
    <form action="" method="post">
        <dl>
            <dt>Name</dt>
            <dd><input type="text" size="20" name="name" value="{{ user.name if user }}"></dd>
            <dt>Email:</dt>
            <dd><input type="text" size="20" name="email" value="{{ user.email if user }}"></dd>
            <dt>password:</dt>
            <dd><input type="text" size="20" name="password" value=""></dd>
            <dd><input type="submit" value="{{ 'save' if user else 'create' }}"></dd>
        </dl>
    </form>
{% endblock %}